In [ ]:
import pandas as pd
import numpy as np
import requests
import geopandas as gpd

In [ ]:
pothole = pd.read_csv("https://data.cityofchicago.org/resource/7as2-ds3y.csv?$limit=1000000")

In [ ]:
pothole.head()

,creation_date,status,completion_date,service_request_number,type_of_service_request,current_activity,most_recent_action,number_of_potholes_filled_on_block,street_address,zip,x_coordinate,y_coordinate,ward,police_district,community_area,ssa,latitude,longitude,location
0,2018-12-18T00:00:00.000,Open,NaN,18-03387505,Pothole in Street,NaN,NaN,NaN,1145 S FAIRFIELD AVE,60612.0,1.158186e+06,1.894949e+06,28.0,11.0,29.0,NaN,41.866992,-87.694609,"(41.866991991336, -87.694608638672)"
1,2018-12-18T00:00:00.000,Open,NaN,18-03387458,Pothole in Street,NaN,NaN,NaN,908 S CAMPBELL AVE,60612.0,1.159861e+06,1.895934e+06,28.0,11.0,28.0,NaN,41.869927,-87.688710,"(41.869927464401, -87.688710188657)"
2,2018-12-18T00:00:00.000,Open,NaN,18-03387502,Pothole in Street,NaN,NaN,NaN,2421 W 21ST PL,60608.0,1.160590e+06,1.889668e+06,28.0,10.0,31.0,NaN,41.852826,-87.686536,"(41.852826019085, -87.686535678313)"
3,2018-12-18T00:00:00.000,Open - Dup,NaN,18-03388379,Pothole in Street,NaN,NaN,NaN,1959 S TROY ST,60623.0,1.155670e+06,1.890142e+06,24.0,10.0,29.0,NaN,41.853704,-87.703946,"(41.853703821634, -87.703946492923)"
4,2018-12-18T00:00:00.000,Open,NaN,18-03388180,Pothole in Street,NaN,NaN,NaN,4100 S WESTERN BLVD,60609.0,1.161202e+06,1.877426e+06,12.0,9.0,58.0,NaN,41.819247,-87.684305,"(41.819246696086, -87.68430532228)"

In [ ]:
pothole.tail()

,creation_date,status,completion_date,service_request_number,type_of_service_request,current_activity,most_recent_action,number_of_potholes_filled_on_block,street_address,zip,x_coordinate,y_coordinate,ward,police_district,community_area,ssa,latitude,longitude,location
560473,2010-03-11T00:00:00.000,Completed,2011-03-28T00:00:00.000,10-00317212,Pot Hole in Street,Dispatch Crew,Pothole Patched,5.0,7201 W BELMONT AVE,60634.0,NaN,NaN,36.0,25.0,17.0,NaN,41.937886,-87.806806,"(41.937885966284, -87.8068055064)"
560474,2010-02-26T00:00:00.000,Completed,2011-10-04T00:00:00.000,10-00254019,Pot Hole in Street,NaN,NaN,NaN,1440 S ROCKWELL ST,60608.0,1.159269e+06,1.892879e+06,28.0,10.0,29.0,NaN,41.861757,-87.690973,"(41.861756644625, -87.690972506101)"
560475,2009-08-27T00:00:00.000,Completed,2011-01-25T00:00:00.000,09-01501980,Pot Hole in Street,Site Survey,No Problem Found,80.0,5518 N WAYNE AVE,60640.0,NaN,NaN,48.0,20.0,77.0,NaN,41.982340,-87.663869,"(41.98234020574, -87.663868977471)"
560476,2009-06-17T00:00:00.000,Completed,2011-06-07T00:00:00.000,09-01026546,Pot Hole in Street,Dispatch Crew,Pothole Patched,NaN,3845 W ADDISON ST,60618.0,1.150061e+06,1.923655e+06,30.0,17.0,21.0,NaN,41.946303,-87.724348,"(41.946303283819, -87.724347984027)"
560477,2009-01-12T00:00:00.000,Completed,2011-10-06T00:00:00.000,09-00061329,Pot Hole in Street,Dispatch Crew,Pothole Patched,33.0,2519 S HALSTED ST,60608.0,1.171397e+06,1.887376e+06,11.0,9.0,60.0,NaN,41.846460,-87.646321,"(41.846459969324, -87.646320667697)"

In [ ]:
pothole.shape

(560478, 19)

In [ ]:
pothole.columns

Index(['creation_date', 'status', 'completion_date', 'service_request_number',
       'type_of_service_request', 'current_activity', 'most_recent_action',
       'number_of_potholes_filled_on_block', 'street_address', 'zip',
       'x_coordinate', 'y_coordinate', 'ward', 'police_district',
       'community_area', 'ssa', 'latitude', 'longitude', 'location'],
      dtype='object')

In [ ]:
pothole.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 560478 entries, 0 to 560477
Data columns (total 19 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   creation_date                       560478 non-null  object
 1   status                              560478 non-null  object
 2   completion_date                     553130 non-null  object
 3   service_request_number              560478 non-null  object
 4   type_of_service_request             560478 non-null  object
 5   current_activity                    393609 non-null  object
 6   most_recent_action                  391992 non-null  object
 7   number_of_potholes_filled_on_block  399143 non-null  float64
 8   street_address                      560476 non-null  object
 9   zip                                 558160 non-null  float64
 10  x_coordinate                        560004 non-null  float64
 11  y_coordinate                        560004 non-null  float64
 12  ward                                560145 non-null  float64
 13  police_district                     560144 non-null  float64
 14  community_area                      560145 non-null  float64
 15  ssa                                 87611 non-null   float64
 16  latitude                            559602 non-null  float64
 17  longitude                           559602 non-null  float64
 18  location                            559602 non-null  object
dtypes: float64(10), object(9)
memory usage: 81.2+ MB

In [ ]:
print (pothole)

                  creation_date      status          completion_date  \
0       2018-12-18T00:00:00.000        Open                      NaN
1       2018-12-18T00:00:00.000        Open                      NaN
2       2018-12-18T00:00:00.000        Open                      NaN
3       2018-12-18T00:00:00.000  Open - Dup                      NaN
4       2018-12-18T00:00:00.000        Open                      NaN
...                         ...         ...                      ...
560473  2010-03-11T00:00:00.000   Completed  2011-03-28T00:00:00.000
560474  2010-02-26T00:00:00.000   Completed  2011-10-04T00:00:00.000
560475  2009-08-27T00:00:00.000   Completed  2011-01-25T00:00:00.000
560476  2009-06-17T00:00:00.000   Completed  2011-06-07T00:00:00.000
560477  2009-01-12T00:00:00.000   Completed  2011-10-06T00:00:00.000

       service_request_number type_of_service_request current_activity  \
0                 18-03387505       Pothole in Street              NaN
1                 18-03387458       Pothole in Street              NaN
2                 18-03387502       Pothole in Street              NaN
3                 18-03388379       Pothole in Street              NaN
4                 18-03388180       Pothole in Street              NaN
...                       ...                     ...              ...
560473            10-00317212      Pot Hole in Street    Dispatch Crew
560474            10-00254019      Pot Hole in Street              NaN
560475            09-01501980      Pot Hole in Street      Site Survey
560476            09-01026546      Pot Hole in Street    Dispatch Crew
560477            09-00061329      Pot Hole in Street    Dispatch Crew

       most_recent_action  number_of_potholes_filled_on_block  \
0                     NaN                                 NaN
1                     NaN                                 NaN
2                     NaN                                 NaN
3                     NaN                                 NaN
4                     NaN                                 NaN
...                   ...                                 ...
560473    Pothole Patched                                 5.0
560474                NaN                                 NaN
560475   No Problem Found                                80.0
560476    Pothole Patched                                 NaN
560477    Pothole Patched                                33.0

              street_address      zip  x_coordinate  y_coordinate  ward  \
0       1145 S FAIRFIELD AVE  60612.0  1.158186e+06  1.894949e+06  28.0
1         908 S CAMPBELL AVE  60612.0  1.159861e+06  1.895934e+06  28.0
2             2421 W 21ST PL  60608.0  1.160590e+06  1.889668e+06  28.0
3             1959 S TROY ST  60623.0  1.155670e+06  1.890142e+06  24.0
4        4100 S WESTERN BLVD  60609.0  1.161202e+06  1.877426e+06  12.0
...                      ...      ...           ...           ...   ...
560473    7201 W BELMONT AVE  60634.0           NaN           NaN  36.0
560474    1440 S ROCKWELL ST  60608.0  1.159269e+06  1.892879e+06  28.0
560475      5518 N WAYNE AVE  60640.0           NaN           NaN  48.0
560476     3845 W ADDISON ST  60618.0  1.150061e+06  1.923655e+06  30.0
560477     2519 S HALSTED ST  60608.0  1.171397e+06  1.887376e+06  11.0

        police_district  community_area  ssa   latitude  longitude  \
0                  11.0            29.0  NaN  41.866992 -87.694609
1                  11.0            28.0  NaN  41.869927 -87.688710
2                  10.0            31.0  NaN  41.852826 -87.686536
3                  10.0            29.0  NaN  41.853704 -87.703946
4                   9.0            58.0  NaN  41.819247 -87.684305
...                 ...             ...  ...        ...        ...
560473             25.0            17.0  NaN  41.937886 -87.806806
560474             10.0            29.0  NaN  41.861757 -87.690973
560475             20.0            77.0  NaN  41.982340 -87.663869
560476             17.0            21.0  NaN  41.946303 -87.724348
560477              9.0            60.0  NaN  41.846460 -87.646321

                                   location
0       (41.866991991336, -87.694608638672)
1       (41.869927464401, -87.688710188657)
2       (41.852826019085, -87.686535678313)
3       (41.853703821634, -87.703946492923)
4        (41.819246696086, -87.68430532228)
...                                     ...
560473    (41.937885966284, -87.8068055064)
560474  (41.861756644625, -87.690972506101)
560475   (41.98234020574, -87.663868977471)
560476  (41.946303283819, -87.724347984027)
560477  (41.846459969324, -87.646320667697)

[560478 rows x 19 columns]

In [ ]:
# What season gets the most potholes filled?

In [ ]:
patched = pd.read_csv("https://data.cityofchicago.org/resource/wqdh-9gek.csv?$limit=1000000")

In [ ]:
patched['request_date'] = pd.to_datetime(patched['request_date'])

In [ ]:
def month_to_season(month):
    if month in [12, 1, 2]:
        return 'Winter'
    elif month in [3, 4, 5]:
        return 'Spring'
    elif month in [6, 7, 8]:
        return 'Summer'
    else:
        return 'Autumn'

In [ ]:
patched['season'] = patched['request_date'].dt.month.apply(month_to_season)

In [ ]:
season_potholes_filled = patched.groupby('season')['number_of_potholes_filled_on_block'].sum()

In [ ]:
print(patched.head())

              address        request_date          completion_date  \
0      4400 W 87TH ST 2024-04-11 06:39:27  2024-04-22T14:16:21.000
1  8500 S KOSTNER AVE 2024-04-12 12:50:57  2024-04-22T14:15:48.000
2      4532 W 85TH ST 2024-04-12 12:52:00  2024-04-22T14:15:16.000
3      4000 W 81ST ST 2024-04-18 08:15:51  2024-04-22T14:14:43.000
4   8533 S KOLMAR AVE 2024-04-17 23:52:12  2024-04-22T14:14:09.000

   number_of_potholes_filled_on_block   latitude  longitude  \
0                                   4  41.734962 -87.731334
1                                  12  41.738220 -87.731563
2                                   8  41.738378 -87.734984
3                                   6  41.745978 -87.722114
4                                  18  41.737284 -87.734578

                                   location  season
0   POINT (-87.731334000002 41.73496200094)  Spring
1   POINT (-87.731563500002 41.73822000094)  Spring
2  POINT (-87.734983783989 41.738377784927)  Spring
3   POINT (-87.722113500002 41.74597800094)  Spring
4   POINT (-87.734578500002 41.73728400094)  Spring

In [ ]:
print(season_potholes_filled)

season
Autumn    208122
Spring    994891
Summer    313235
Winter    625338
Name: number_of_potholes_filled_on_block, dtype: int64

In [ ]:
average_duration_by_season = patched.groupby('season')['number_of_potholes_filled_on_block'].mean()
print(average_duration_by_season.max())

13.415104770637253

In [ ]:
# Which wards have the most pothole requests?

In [ ]:
pothole.groupby('ward')['type_of_service_request'].count().sort_values(ascending = False)

ward
41.0    21637
45.0    16788
19.0    16534
23.0    16398
32.0    16173
13.0    15765
39.0    15699
8.0     15336
42.0    14730
34.0    14528
21.0    14126
2.0     13790
18.0    13761
36.0    13687
27.0    13221
38.0    12878
50.0    12760
14.0    12244
10.0    12146
40.0    11965
29.0    11730
6.0     11460
35.0    10732
28.0    10693
25.0    10621
1.0     10545
5.0     10438
9.0     10380
11.0     9743
12.0     9620
49.0     9551
47.0     9458
31.0     9351
17.0     9055
24.0     9044
37.0     8942
30.0     8436
26.0     8358
43.0     8231
7.0      7997
33.0     7922
16.0     7825
3.0      7611
20.0     7541
15.0     7334
48.0     7076
4.0      7042
22.0     6966
44.0     6373
46.0     4340
0.0      1564
Name: type_of_service_request, dtype: int64

In [ ]:
pothole.groupby('ward')['type_of_service_request'].count().sort_values(ascending = False).head(8)

ward
41.0    21637
45.0    16788
19.0    16534
23.0    16398
32.0    16173
13.0    15765
39.0    15699
8.0     15336
Name: type_of_service_request, dtype: int64

In [ ]:
# How many potholes are filled in each ward? (with patched data)

In [ ]:
patched.groupby('number_of_potholes_filled_on_block').size().sort_values(ascending = False)

number_of_potholes_filled_on_block
1      20601
2      18110
3      14284
5      12567
4      12032
       ...
212        1
214        1
215        1
218        1
467        1
Length: 230, dtype: int64

In [ ]:
# According to the patched data, how long does it take for a pothole to get patched?

In [ ]:
patched['request_date'] = pd.to_datetime(patched['request_date'])
patched['completion_date'] = pd.to_datetime(patched['completion_date'])

In [ ]:
patched['duration'] = (patched['completion_date'] - patched['request_date']).dt.days

In [ ]:
print(patched[['request_date', 'completion_date', 'duration']].head())

         request_date     completion_date  duration
0 2024-04-11 06:39:27 2024-04-22 14:16:21        11
1 2024-04-12 12:50:57 2024-04-22 14:15:48        10
2 2024-04-12 12:52:00 2024-04-22 14:15:16        10
3 2024-04-18 08:15:51 2024-04-22 14:14:43         4
4 2024-04-17 23:52:12 2024-04-22 14:14:09         4

In [ ]:
average_duration = patched['duration'].mean()
print(f"The average duration it takes to patch a pothole is {average_duration} days.")

The average duration it takes to patch a pothole is 20.189787498336365 days.

In [ ]:
median_duration = patched['duration'].median()
print(f"The median duration it takes to patch a pothole is {median_duration} days.")

The median duration it takes to patch a pothole is 4.0 days.

In [ ]:
print(patched['duration'].describe())

count    180328.000000
mean         20.189787
std          40.141559
min           0.000000
25%           0.000000
50%           4.000000
75%          18.000000
max         553.000000
Name: duration, dtype: float64

In [ ]:
# Show the melted date (PATCHED)

In [ ]:
id_vars = ['address', 'location']
value_vars = ['request_date', 'number_of_potholes_filled_on_block']

In [ ]:
melted_data = patched.melt(id_vars=id_vars, value_vars=value_vars, var_name='variable', value_name='value')

In [ ]:
print(melted_data)

                    address                                  location  \
0            4400 W 87TH ST   POINT (-87.731334000002 41.73496200094)
1        8500 S KOSTNER AVE   POINT (-87.731563500002 41.73822000094)
2            4532 W 85TH ST  POINT (-87.734983783989 41.738377784927)
3            4000 W 81ST ST   POINT (-87.722113500002 41.74597800094)
4         8533 S KOLMAR AVE   POINT (-87.734578500002 41.73728400094)
...                     ...                                       ...
360651       3911 W 61ST ST              POINT (-87.720834 41.782065)
360652       3908 W 61ST ST              POINT (-87.720808 41.782588)
360653       3900 W 62ND PL              POINT (-87.720513 41.779863)
360654       3847 W 61ST PL              POINT (-87.719803 41.781169)
360655  6400 S MAJOR Avenue  POINT (-87.764136509305 41.776112376302)

                                  variable                value
0                             request_date  2024-04-11 06:39:27
1                             request_date  2024-04-12 12:50:57
2                             request_date  2024-04-12 12:52:00
3                             request_date  2024-04-18 08:15:51
4                             request_date  2024-04-17 23:52:12
...                                    ...                  ...
360651  number_of_potholes_filled_on_block                    4
360652  number_of_potholes_filled_on_block                    3
360653  number_of_potholes_filled_on_block                   10
360654  number_of_potholes_filled_on_block                   15
360655  number_of_potholes_filled_on_block                   16

[360656 rows x 4 columns]

In [ ]:
# LOOP (Patched)

In [ ]:
total_potholes_per_address = {}

In [ ]:
for index, row in patched.iterrows():
    address = row['address']
    potholes_filled = row['number_of_potholes_filled_on_block']
if address not in total_potholes_per_address:
        total_potholes_per_address[address] = potholes_filled
else:total_potholes_per_address[address] += potholes_filled

In [ ]:
for address, total_potholes in total_potholes_per_address.items():
    print(f"Address: {address}, Total Potholes Filled: {total_potholes}")

Address: 6400 S MAJOR Avenue, Total Potholes Filled: 16

In [ ]:
# Demonstrate an F String (Patched)

In [ ]:
for index, row in patched.iterrows():
  if index < 100:
    summary_string = f"Address: {row['address']}, Request Date: {row['request_date']}, Potholes Filled: {row['number_of_potholes_filled_on_block']}, Location: {row['location']}"
    print(summary_string)
  else:
    break

Address: 4400 W 87TH ST, Request Date: 2024-04-11 06:39:27, Potholes Filled: 4, Location: POINT (-87.731334000002 41.73496200094)
Address: 8500 S KOSTNER AVE, Request Date: 2024-04-12 12:50:57, Potholes Filled: 12, Location: POINT (-87.731563500002 41.73822000094)
Address: 4532 W 85TH ST, Request Date: 2024-04-12 12:52:00, Potholes Filled: 8, Location: POINT (-87.734983783989 41.738377784927)
Address: 4000 W 81ST ST, Request Date: 2024-04-18 08:15:51, Potholes Filled: 6, Location: POINT (-87.722113500002 41.74597800094)
Address: 8533 S KOLMAR AVE, Request Date: 2024-04-17 23:52:12, Potholes Filled: 18, Location: POINT (-87.734578500002 41.73728400094)
Address: 5256 W 64TH PL, Request Date: 2024-04-10 10:14:19, Potholes Filled: 10, Location: POINT (-87.753915000002 41.77544400094)
Address: 6129 S MASON AVE, Request Date: 2024-04-15 10:42:21, Potholes Filled: 12, Location: POINT (-87.770124000002 41.78069100094)
Address: 5954 S MASON AVE, Request Date: 2024-04-15 10:35:38, Potholes Filled: 10, Location: POINT (-87.770555579617 41.783611139888)
Address: 6328 W 64TH PL, Request Date: 2024-04-10 15:11:05, Potholes Filled: 15, Location: POINT (-87.779898000002 41.77518300094)
Address: 6341 N WASHTENAW AVE, Request Date: 2024-04-22 06:54:03, Potholes Filled: 11, Location: POINT (-87.696648000002 41.997006000941)
Address: 7041 N WASHTENAW AVE, Request Date: 2024-04-21 11:28:11, Potholes Filled: 15, Location: POINT (-87.697161000002 42.009831000941)
Address: 7642 S GREENWOOD AVE, Request Date: 2024-04-08 13:12:35, Potholes Filled: 6, Location: POINT (-87.598273500002 41.75558100094)
Address: 1099 E 77TH ST, Request Date: 2024-04-09 19:41:19, Potholes Filled: 32, Location: POINT (-87.59808930398 41.754937196962)
Address: 2121 W 95TH ST, Request Date: 2024-04-22 13:37:33, Potholes Filled: 1, Location: POINT (-87.675775993982 41.720962237583)
Address: 2100 W 95TH ST, Request Date: 2024-04-22 13:36:12, Potholes Filled: 10, Location: POINT (-87.674602500002 41.72132700094)
Address: 2100 W 92ND ST, Request Date: 2024-04-22 13:34:46, Potholes Filled: 2, Location: POINT (-87.674638769918 41.726605770856)
Address: 2132 W 93RD ST, Request Date: 2024-04-22 13:33:35, Potholes Filled: 19, Location: POINT (-87.675884255039 41.724769768663)
Address: 2940 W LUNT AVE, Request Date: 2024-04-21 16:06:20, Potholes Filled: 6, Location: POINT (-87.703803000002 42.008598000941)
Address: 10300 S WOOD ST, Request Date: 2024-04-09 10:58:21, Potholes Filled: 9, Location: POINT (-87.667165229797 41.706561680049)
Address: 2941 W LUNT AVE, Request Date: 2024-04-21 16:08:21, Potholes Filled: 10, Location: POINT (-87.703762500002 42.008175000941)
Address: 2937 W LUNT AVE, Request Date: 2024-04-21 16:07:19, Potholes Filled: 7, Location: POINT (-87.703650000002 42.008157000941)
Address: 2949 W LUNT AVE, Request Date: 2024-04-21 16:09:24, Potholes Filled: 5, Location: POINT (-87.704028000002 42.008175000941)
Address: 11354 S CHURCH ST, Request Date: 2024-04-17 14:14:47, Potholes Filled: 20, Location: POINT (-87.668055000002 41.68737900094)
Address: 10817 S WOOD ST, Request Date: 2024-04-18 12:27:41, Potholes Filled: 21, Location: POINT (-87.666372000002 41.69694600094)
Address: 7429 N CLAREMONT AVE, Request Date: 2024-04-18 01:04:25, Potholes Filled: 1, Location: POINT (-87.688570500002 42.016545000941)
Address: 10400 S WOOD ST, Request Date: 2024-04-09 10:59:33, Potholes Filled: 20, Location: POINT (-87.666169500002 41.70481200094)
Address: 7200 N WASHTENAW AVE, Request Date: 2024-04-17 20:19:54, Potholes Filled: 5, Location: POINT (-87.697705500002 42.012387000941)
Address: 5701 N MOZART ST, Request Date: 2024-04-19 15:20:13, Potholes Filled: 8, Location: POINT (-87.700140000002 41.985099000941)
Address: 6320 N LINCOLN AVE, Request Date: 2024-04-17 16:31:18, Potholes Filled: 10, Location: POINT (-87.717123000002 41.996079000941)
Address: 2150 W 97TH ST, Request Date: 2024-04-19 07:36:19, Potholes Filled: 2, Location: POINT (-87.676714721732 41.717461759933)
Address: 9600 S LEAVITT ST, Request Date: 2024-04-19 07:32:24, Potholes Filled: 11, Location: POINT (-87.677541000002 41.71901400094)
Address: 7259 W PETERSON AVE, Request Date: 2024-04-22 13:07:56, Potholes Filled: 1, Location: POINT (-87.809179500002 41.989725000941)
Address: 6849 N OTTAWA AVE, Request Date: 2024-04-22 13:05:09, Potholes Filled: 1, Location: POINT (-87.817365000002 42.005295000941)
Address: 9054 S JEFFERY BLVD, Request Date: 2024-04-13 16:08:56, Potholes Filled: 1, Location: POINT (-87.575604073889 41.729941955626)
Address: 9000 S JEFFERY BLVD, Request Date: 2024-04-17 07:51:45, Potholes Filled: 1, Location: POINT (-87.575591502282 41.731592005731)
Address: 1500 E 92ND ST, Request Date: 2024-04-11 18:29:13, Potholes Filled: 33, Location: POINT (-87.587863941081 41.72786918756)
Address: 9355 S EAST END AVE, Request Date: 2024-04-16 15:56:25, Potholes Filled: 3, Location: POINT (-87.582339000002 41.72436000094)
Address: 9347 S EAST END AVE, Request Date: 2024-04-16 15:49:22, Potholes Filled: 8, Location: POINT (-87.582321000002 41.72458500094)
Address: 7300 W CHASE AVE, Request Date: 2024-04-22 12:57:45, Potholes Filled: 1, Location: POINT (-87.809144918948 42.013547051756)
Address: 1700 E 92ND ST, Request Date: 2024-04-11 17:00:44, Potholes Filled: 15, Location: POINT (-87.582465000002 41.72808600094)
Address: 1700 E 92ND ST, Request Date: 2024-04-11 18:28:37, Potholes Filled: 15, Location: POINT (-87.582465000002 41.72808600094)
Address: 9001 S EUCLID AVE, Request Date: 2024-04-02 14:24:12, Potholes Filled: 19, Location: POINT (-87.576498000002 41.73143400094)
Address: 7000 N OCTAVIA AVE, Request Date: 2024-04-22 12:53:00, Potholes Filled: 6, Location: POINT (-87.8091782957 42.008088296639)
Address: 1905 E 90TH ST, Request Date: 2024-04-02 21:26:39, Potholes Filled: 17, Location: POINT (-87.577713000002 41.73135300094)
Address: 7700 S CORNELL AVE, Request Date: 2024-04-11 16:58:21, Potholes Filled: 12, Location: POINT (-87.584559146042 41.755090081604)
Address: 1600 E 77TH ST, Request Date: 2024-04-11 16:57:48, Potholes Filled: 37, Location: POINT (-87.585463633274 41.755209658389)
Address: 7100 S STONY ISLAND AVE, Request Date: 2024-04-09 12:19:38, Potholes Filled: 4, Location: POINT (-87.586386192201 41.765917126329)
Address: 5822 N ORIOLE AVE, Request Date: 2024-04-12 14:30:56, Potholes Filled: 16, Location: POINT (-87.8168777957 41.985903656047)
Address: 1300 E 73RD ST, Request Date: 2024-04-04 15:34:44, Potholes Filled: 5, Location: POINT (-87.593157000002 41.76257400094)
Address: 1633 E 74TH ST, Request Date: 2024-04-05 13:44:20, Potholes Filled: 14, Location: POINT (-87.584400000002 41.76038700094)
Address: 7429 W ESTES AVE, Request Date: 2024-04-18 12:26:09, Potholes Filled: 5, Location: POINT (-87.812568000002 42.009570000941)
Address: 7241 N OVERHILL AVE, Request Date: 2024-04-18 15:19:21, Potholes Filled: 22, Location: POINT (-87.818521500002 42.012639000941)
Address: 8238 S LAWNDALE AVE, Request Date: 2024-04-15 10:00:57, Potholes Filled: 4, Location: POINT (-87.714621000002 41.74297200094)
Address: 8161 S KOMENSKY AVE, Request Date: 2024-04-18 18:43:31, Potholes Filled: 8, Location: POINT (-87.721742515049 41.744021968394)
Address: 8256 S PULASKI RD, Request Date: 2024-04-18 18:41:20, Potholes Filled: 5, Location: POINT (-87.722244000002 41.74245000094)
Address: 8607 S KILDARE AVE, Request Date: 2024-04-16 12:55:50, Potholes Filled: 27, Location: POINT (-87.728458500002 41.73632100094)
Address: 8000 S KEDZIE AVE, Request Date: 2024-04-16 12:39:06, Potholes Filled: 3, Location: POINT (-87.702727500002 41.74782300094)
Address: 4130 W 82ND PL, Request Date: 2024-04-11 14:39:30, Potholes Filled: 5, Location: POINT (-87.725343239129 41.742857896474)
Address: 3353 W COLUMBUS AVE, Request Date: 2024-04-11 16:47:00, Potholes Filled: 2, Location: POINT (-87.706090418825 41.747695987483)
Address: 6406 S OAK PARK AVE, Request Date: 2024-04-11 13:48:25, Potholes Filled: 15, Location: POINT (-87.791233500002 41.77540800094)
Address: 6849 W 64TH ST, Request Date: 2024-04-11 13:43:00, Potholes Filled: 10, Location: POINT (-87.792921000002 41.77548000094)
Address: 6958 W 64TH PL, Request Date: 2024-04-11 13:43:33, Potholes Filled: 5, Location: POINT (-87.795684000002 41.77493100094)
Address: 6451 S NATCHEZ AVE, Request Date: 2024-04-11 13:56:28, Potholes Filled: 10, Location: POINT (-87.783322500002 41.77427400094)
Address: 6447 W 63RD ST, Request Date: 2024-04-11 10:26:45, Potholes Filled: 20, Location: POINT (-87.783084000002 41.77744200094)
Address: 6442 S NASHVILLE AVE, Request Date: 2024-04-11 13:49:57, Potholes Filled: 25, Location: POINT (-87.786087807224 41.774502077413)
Address: 6559 W 63RD PL, Request Date: 2024-04-12 21:30:29, Potholes Filled: 35, Location: POINT (-87.785941500002 41.77646100094)
Address: 526 S WELLS ST, Request Date: 2024-04-18 11:36:12, Potholes Filled: 2, Location: POINT (-87.633711036391 41.875092720535)
Address: 362 N HALSTED ST, Request Date: 2024-04-18 06:53:28, Potholes Filled: 1, Location: POINT (-87.647630395191 41.888629153616)
Address: 190 W WASHINGTON ST, Request Date: 2024-04-16 10:41:14, Potholes Filled: 1, Location: POINT (-87.63357119474 41.883295958833)
Address: 17 N DEARBORN ST, Request Date: 2024-04-17 16:06:03, Potholes Filled: 2, Location: POINT (-87.628662000002 41.88247200094)
Address: 708 W ROOSEVELT RD, Request Date: 2024-04-18 07:18:39, Potholes Filled: 2, Location: POINT (-87.645469500002 41.86789200094)
Address: 1404 W FULTON ST, Request Date: 2024-04-10 12:43:24, Potholes Filled: 7, Location: POINT (-87.662727839709 41.886663930023)
Address: 1150 W HUBBARD ST, Request Date: 2024-04-13 12:46:10, Potholes Filled: 5, Location: POINT (-87.656661000002 41.890320000941)
Address: 500 S CALIFORNIA AVE, Request Date: 2024-04-17 08:00:49, Potholes Filled: 5, Location: POINT (-87.696490500002 41.87469600094)
Address: 16 S WESTERN AVE, Request Date: 2024-04-10 11:11:25, Potholes Filled: 10, Location: POINT (-87.686770500002 41.88065400094)
Address: 20 S WESTERN AVE, Request Date: 2024-04-11 07:47:40, Potholes Filled: 10, Location: POINT (-87.686716500002 41.88049200094)
Address: 121 S SACRAMENTO BLVD, Request Date: 2024-04-17 10:33:12, Potholes Filled: 12, Location: POINT (-87.701102782082 41.879158147309)
Address: 137 S SACRAMENTO BLVD, Request Date: 2024-04-18 13:30:08, Potholes Filled: 10, Location: POINT (-87.701090704303 41.878621037049)
Address: 2933 W MADISON ST, Request Date: 2024-04-09 20:02:26, Potholes Filled: 5, Location: POINT (-87.700941000002 41.87993400094)
Address: 459 N ST LOUIS AVE, Request Date: 2024-04-18 09:19:18, Potholes Filled: 7, Location: POINT (-87.713657312666 41.889940632143)
Address: 856 N TRUMBULL AVE, Request Date: 2024-04-16 00:40:42, Potholes Filled: 5, Location: POINT (-87.712992000002 41.897205000941)
Address: 23 N GREEN ST, Request Date: 2024-04-22 08:41:32, Potholes Filled: 12, Location: POINT (-87.648223500002 41.88254400094)
Address: 542 W GRAND AVE, Request Date: 2024-04-22 08:37:11, Potholes Filled: 2, Location: POINT (-87.64218605752 41.891404392051)
Address: 1552 W 119TH ST, Request Date: 2024-04-22 08:39:53, Potholes Filled: 3, Location: POINT (-87.661057500002 41.67782100094)
Address: 100 N GREEN ST, Request Date: 2024-04-22 08:39:22, Potholes Filled: 4, Location: POINT (-87.648633217923 41.883184854573)
Address: 642 W GRAND AVE, Request Date: 2024-04-22 08:38:10, Potholes Filled: 2, Location: POINT (-87.644537787953 41.891307948535)
Address: 2420 W 100TH ST, Request Date: 2024-04-22 08:36:40, Potholes Filled: 63, Location: POINT (-87.682801500002 41.71204800094)
Address: 497 W GRAND AVE, Request Date: 2024-04-22 08:35:55, Potholes Filled: 1, Location: POINT (-87.641103057811 41.891350866101)
Address: 11207 S ARTESIAN AVE, Request Date: 2024-04-22 08:35:22, Potholes Filled: 1, Location: POINT (-87.682014000002 41.68946700094)
Address: 99 W WASHINGTON ST, Request Date: 2024-04-22 08:34:30, Potholes Filled: 1, Location: POINT (-87.630835042109 41.883142043048)
Address: 2400 W 119TH ST, Request Date: 2024-04-22 08:33:11, Potholes Filled: 3, Location: POINT (-87.680771666212 41.677344222644)
Address: 44 E IDA B. WELLS DR, Request Date: 2024-04-22 08:33:12, Potholes Filled: 2, Location: POINT (-87.625958811968 41.875772537505)
Address: 2332 W 105TH ST, Request Date: 2024-04-22 08:31:47, Potholes Filled: 6, Location: POINT (-87.680362741512 41.70281874245)
Address: 718 W JAMES M ROCHFORD ST, Request Date: 2024-04-22 08:31:12, Potholes Filled: 2, Location: POINT (-87.645866892726 41.866096938127)
Address: 1200 S UNION AVE, Request Date: 2024-04-21 10:23:46, Potholes Filled: 2, Location: POINT (-87.645190072649 41.867120410469)
Address: 7023 S WABASH AVE, Request Date: 2024-04-22 08:23:38, Potholes Filled: 27, Location: POINT (-87.622960500002 41.76663300094)
Address: 6300 W ESTES AVE, Request Date: 2024-04-19 10:47:31, Potholes Filled: 21, Location: POINT (-87.784582500002 42.010407000941)
Address: 6567 S HARVARD AVE, Request Date: 2024-04-17 11:33:58, Potholes Filled: 11, Location: POINT (-87.633013500002 41.77461600094)
Address: 3948 N WOLCOTT AVE, Request Date: 2024-04-19 09:09:58, Potholes Filled: 20, Location: POINT (-87.676383878216 41.953822261036)
Address: 4107 N ASHLAND AVE, Request Date: 2024-04-19 09:29:50, Potholes Filled: 3, Location: POINT (-87.668590500002 41.956398000941)

How many potholes have been patched, how many requests are still open, random sample maker of open cases, how many requests had no problem found

In [ ]:
sample_pothole = pothole.sample(5)

In [ ]:
for column in sample_pothole.iterrows():
  if column[1]['status'] == 'Completed':
    print('its completed!')
  elif column[1]['status'] == 'Completed - Dup':
    print('its completed!')
  else:
    print('it hasnt been completed')

its completed!
its completed!
its completed!
its completed!
its completed!

In [ ]:
open_requests = pothole['status'].isin(['Open', 'Open - Dup'])

In [ ]:
open_requests.value_counts()

status
False    553130
True       7348
Name: count, dtype: int64

In [ ]:
potholes_patched = pothole['most_recent_action'] == 'Pothole Patched'

In [ ]:
potholes_patched.value_counts()

most_recent_action
True     317646
False    242832
Name: count, dtype: int64

In [ ]:
potholes_no_problem = pothole['most_recent_action'] == 'No Problem Found'

In [ ]:
potholes_no_problem.value_counts()

most_recent_action
False    560178
True        300
Name: count, dtype: int64

In [ ]:
# How many duplicate requests are in the pothole request data?

In [ ]:
duplicates = pothole.duplicated()

In [ ]:
num_duplicates = duplicates.sum()

In [ ]:
if num_duplicates > 0:
  print(f'there are {num_duplicates} duplicate rows in the dataset.')
else:
  print('there are no duplicate rows in the dataet.')

there are 2 duplicate rows in the dataset.

In [ ]:
# New column showing the duplicates

In [ ]:
duplicates_col = pothole.duplicated(subset = 'service_request_number', keep=False)

In [ ]:
pothole['is_duplicated'] = duplicates_col

In [ ]:
pothole.head()

,creation_date,status,completion_date,service_request_number,type_of_service_request,current_activity,most_recent_action,number_of_potholes_filled_on_block,street_address,zip,x_coordinate,y_coordinate,ward,police_district,community_area,ssa,latitude,longitude,location,is_duplicated
0,2018-12-18T00:00:00.000,Open,NaN,18-03387505,Pothole in Street,NaN,NaN,NaN,1145 S FAIRFIELD AVE,60612.0,1.158186e+06,1.894949e+06,28.0,11.0,29.0,NaN,41.866992,-87.694609,"(41.866991991336, -87.694608638672)",False
1,2018-12-18T00:00:00.000,Open,NaN,18-03387458,Pothole in Street,NaN,NaN,NaN,908 S CAMPBELL AVE,60612.0,1.159861e+06,1.895934e+06,28.0,11.0,28.0,NaN,41.869927,-87.688710,"(41.869927464401, -87.688710188657)",False
2,2018-12-18T00:00:00.000,Open,NaN,18-03387502,Pothole in Street,NaN,NaN,NaN,2421 W 21ST PL,60608.0,1.160590e+06,1.889668e+06,28.0,10.0,31.0,NaN,41.852826,-87.686536,"(41.852826019085, -87.686535678313)",False
3,2018-12-18T00:00:00.000,Open - Dup,NaN,18-03388379,Pothole in Street,NaN,NaN,NaN,1959 S TROY ST,60623.0,1.155670e+06,1.890142e+06,24.0,10.0,29.0,NaN,41.853704,-87.703946,"(41.853703821634, -87.703946492923)",False
4,2018-12-18T00:00:00.000,Open,NaN,18-03388180,Pothole in Street,NaN,NaN,NaN,4100 S WESTERN BLVD,60609.0,1.161202e+06,1.877426e+06,12.0,9.0,58.0,NaN,41.819247,-87.684305,"(41.819246696086, -87.68430532228)",False

In [ ]:
# Amount of pothole requests per address?

In [ ]:
pothole['street_address'].value_counts().reset_index()

                 street_address  count
0             55 W JACKSON BLVD    386
1            1800 S WESTERN AVE    316
2          8300 S VINCENNES AVE    313
3       7500 S STONY ISLAND AVE    274
4       9500 S STONY ISLAND AVE    268
...                         ...    ...
250602         3420 W NORTH AVE      1
250603      2754 W ROOSEVELT RD      1
250604      3932 W LAWRENCE AVE      1
250605           138 E 123RD ST      1
250606       1440 S ROCKWELL ST      1

[250607 rows x 2 columns]

In [ ]:
#
#Are there certain neighborhoods or points in time that occur more often?

In [ ]:
pothole.columns

Index(['creation_date', 'status', 'completion_date', 'service_request_number',
       'type_of_service_request', 'current_activity', 'most_recent_action',
       'number_of_potholes_filled_on_block', 'street_address', 'zip',
       'x_coordinate', 'y_coordinate', 'ward', 'police_district',
       'community_area', 'ssa', 'latitude', 'longitude', 'location',
       'is_duplicated'],
      dtype='object')

In [ ]:
patched.columns

Index(['address', 'request_date', 'completion_date',
       'number_of_potholes_filled_on_block', 'latitude', 'longitude',
       'location', 'season', 'duration'],
      dtype='object')

In [ ]:
print(patched.completion_date)

0        2024-04-22 14:16:21
1        2024-04-22 14:15:48
2        2024-04-22 14:15:16
3        2024-04-22 14:14:43
4        2024-04-22 14:14:09
                 ...
180323   2019-02-28 07:14:27
180324   2019-02-28 07:13:30
180325   2019-02-28 07:12:22
180326   2019-02-28 07:11:16
180327   2019-01-09 11:36:02
Name: completion_date, Length: 180328, dtype: datetime64[ns]

In [ ]:
pothole['creation_date'] = pd.to_datetime(pothole['creation_date'])

In [ ]:
pothole['completion_date'] = pd.to_datetime(pothole['completion_date'])

In [ ]:
pothole['ph_month'] = pothole['creation_date'].dt.month
pothole['ph_weekday'] = pothole['creation_date'].dt.weekday
pothole['ph_day'] = pothole['creation_date'].dt.day
pothole['ph_year'] = pothole['creation_date'].dt.year

In [ ]:
pothole[pothole['completion_date'] < '2019-12-31'].head(2)

,creation_date,status,completion_date,service_request_number,type_of_service_request,current_activity,most_recent_action,number_of_potholes_filled_on_block,street_address,zip,...,community_area,ssa,latitude,longitude,location,is_duplicated,ph_month,ph_weekday,ph_day,ph_year
28,2018-12-17,Completed - Dup,2018-12-31,18-03378790,Pothole in Street,NaN,NaN,NaN,415 S FINANCIAL PL,60605.0,...,32.0,NaN,41.876480,-87.632956,"(41.876479996476, -87.63295634334)",False,12,0,17,2018
42,2018-12-17,Completed,2018-12-18,18-03378095,Pothole in Street,Final Outcome,Pothole Patched,7.0,600 W LAKE ST,60661.0,...,28.0,NaN,41.885815,-87.642847,"(41.885814724037, -87.6428471339)",False,12,0,17,2018

In [ ]:
pothole['count'] = 1

In [ ]:
pothole.groupby(['ph_year', 'ph_month'])['count'].sum()

ph_year  ph_month
2009     1              1
         6              1
         8              1
2010     2              1
         3              7
                     ...
2018     8           3719
         9           3123
         10          3156
         11          2358
         12          1802
Name: count, Length: 110, dtype: int64

In [ ]:
pothole.groupby(['ph_year', 'ph_month'])['count'].sum().reset_index()

     ph_year  ph_month  count
0       2009         1      1
1       2009         6      1
2       2009         8      1
3       2010         2      1
4       2010         3      7
..       ...       ...    ...
105     2018         8   3719
106     2018         9   3123
107     2018        10   3156
108     2018        11   2358
109     2018        12   1802

[110 rows x 3 columns]

In [ ]:
pothole.columns

Index(['creation_date', 'status', 'completion_date', 'service_request_number',
       'type_of_service_request', 'current_activity', 'most_recent_action',
       'number_of_potholes_filled_on_block', 'street_address', 'zip',
       'x_coordinate', 'y_coordinate', 'ward', 'police_district',
       'community_area', 'ssa', 'latitude', 'longitude', 'location',
       'is_duplicated', 'ph_month', 'ph_weekday', 'ph_day', 'ph_year',
       'count'],
      dtype='object')

In [ ]:
frequencymaybe = pothole.groupby(['ph_year', 'ph_month', 'ph_day'])['count'].sum()

In [ ]:
freq = (frequencymaybe.sort_values(ascending=False))

In [ ]:
print(freq)

ph_year  ph_month  ph_day
2014     3         10        1997
         1         13        1873
         2         24        1680
                   26        1636
         3         11        1581
                             ...
2010     8         18           1
                   17           1
                   14           1
                   10           1
2009     1         12           1
Name: count, Length: 3032, dtype: int64

In [ ]:
# - above answers -
#THE MONTH WITH THE MOST REPORTS IS MARCH - only 3 years from 2011-2018 had March not being the most reported
  #FURTHERMORE, THE MONTHS WITH THE HIGHEST REPORTS PER DAY ARE IN THE WINTER
  # all according to dataset POTHOLE

In [ ]:
#
# How long does it take for a pothole to get patched?
  #31.4 days - According to dataset POTHOLE
    # median number of days is 8 - according to dataset POTHOLE

In [ ]:
pothole['request_complete'] = pothole['completion_date'] - pothole['creation_date']

In [ ]:
pothole['request_complete'] = pothole['request_complete'].dt.days

In [ ]:
pothole.columns

Index(['creation_date', 'status', 'completion_date', 'service_request_number',
       'type_of_service_request', 'current_activity', 'most_recent_action',
       'number_of_potholes_filled_on_block', 'street_address', 'zip',
       'x_coordinate', 'y_coordinate', 'ward', 'police_district',
       'community_area', 'ssa', 'latitude', 'longitude', 'location',
       'is_duplicated', 'ph_month', 'ph_weekday', 'ph_day', 'ph_year', 'count',
       'request_complete'],
      dtype='object')

In [ ]:
print(pothole.request_complete)

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
          ...
560473    382.0
560474    585.0
560475    516.0
560476    720.0
560477    997.0
Name: request_complete, Length: 560478, dtype: float64

In [ ]:
lencompreq = pothole['request_complete'].mean()

In [ ]:
print(lencompreq)

31.39170900150055

In [ ]:
medcomreq = pothole['request_complete'].median()

In [ ]:
print(medcomreq)

8.0

In [ ]:
#how frequently pothole requests are made, median and groupbys

In [ ]:
pothole_data = pd.read_csv('https://data.cityofchicago.org/resource/7as2-ds3y.csv?$limit=1000000')

In [ ]:
pothole_data['creation_date'] = pd.to_datetime(pothole_data['creation_date'])

In [ ]:
median_requests = pothole_data['creation_date'].median()

In [ ]:
print(median_requests)

2014-05-13 00:00:00

In [ ]:
grouped_data = pothole_data.groupby('location')['number_of_potholes_filled_on_block'].mean()

In [ ]:
requests_per_location = pothole_data['location'].value_counts()

In [ ]:
requests_per_location = pothole_data.groupby('location').size()

In [ ]:
avg_potholes_per_request = pothole_data.groupby('location')['number_of_potholes_filled_on_block'].mean()

In [ ]:
print(median_requests)

2014-05-13 00:00:00

In [ ]:
med_potholes_patched = pothole_data['number_of_potholes_filled_on_block'].median()

In [ ]:
print("Median number of potholes patched:", med_potholes_patched)

Median number of potholes patched: 5.0

In [ ]:
#.csv creation

In [ ]:
pothole.groupby('ward')['type_of_service_request'].count().sort_values(ascending = False).head(8)

ward
41.0    21637
45.0    16788
19.0    16534
23.0    16398
32.0    16173
13.0    15765
39.0    15699
8.0     15336
Name: type_of_service_request, dtype: int64

In [ ]:
ward_patched.to_csv('data/requests_by_ward.csv')

In [ ]:
season_potholes_filled = patched.groupby('season')['number_of_potholes_filled_on_block'].sum()

In [ ]:
season_potholes_filled.to_csv('data/patched_by_season.csv')