# Import Libraries

In [7]:
import pandas as pd
import numpy as np
import requests
import geopandas as gpd
from datetime import datetime

In [8]:
# Track how often people make pothole requests.
    #Are there certain neighborhoods or points in time that occur more often?
# How long does it take for a pothole to get patched?
    #Are there potholes that never get fixed?
#Optional, can you find the rat-hole pothole request in this data? If so, how long did it take to respond?

### Chicago crews able to fill more potholes due to warmer weather

1. Go to the Chicago Data Portal: https://data.cityofchicago.org/
2. Find each dataset. pothole requests and potholes patched.
3. Add a data notes section to your github readme. This should include information about the source of your data, where it came from, how often it is updated, and the period of data it contains (e.g. 2010-present or 2012 to 2019)
4. Lastly, test that this import works. This may take a while as the dataset is large.

In [9]:
pothole = pd.read_csv("https://data.cityofchicago.org/resource/7as2-ds3y.csv?$limit=1000000")

In [10]:
patched = pd.read_csv("https://data.cityofchicago.org/resource/wqdh-9gek.csv?$limit=1000000")

In [11]:
patched.shape

(179958, 7)

In [12]:
patched.head()

,address,request_date,completion_date,number_of_potholes_filled_on_block,latitude,longitude,location
0,4809 N ROCKWELL ST,2024-04-16T10:07:46.000,2024-04-16T15:19:59.000,8,41.968881,-87.693633,POINT (-87.693633000002 41.968881000941)
1,1158 W WRIGHTWOOD AVE,2024-04-16T15:16:13.000,2024-04-16T15:18:40.000,68,41.929110,-87.658429,POINT (-87.658429500002 41.929110000941)
2,5822 N TALMAN AVE,2024-04-15T14:09:05.000,2024-04-16T15:10:56.000,6,41.987484,-87.695915,POINT (-87.695914500002 41.987484000941)
3,5905 N TALMAN AVE,2024-04-15T14:07:36.000,2024-04-16T15:10:08.000,9,41.988834,-87.695442,POINT (-87.695442000002 41.988834000941)
4,5734 N FAIRFIELD AVE,2024-04-15T14:00:20.000,2024-04-16T15:09:03.000,14,41.985981,-87.698322,POINT (-87.698322000002 41.985981000941)

In [13]:
print(patched)

                      address             request_date  \
0          4809 N ROCKWELL ST  2024-04-16T10:07:46.000
1       1158 W WRIGHTWOOD AVE  2024-04-16T15:16:13.000
2           5822 N TALMAN AVE  2024-04-15T14:09:05.000
3           5905 N TALMAN AVE  2024-04-15T14:07:36.000
4        5734 N FAIRFIELD AVE  2024-04-15T14:00:20.000
...                       ...                      ...
179953         3911 W 61ST ST  2019-02-13T09:14:18.000
179954         3908 W 61ST ST  2019-02-13T09:11:06.000
179955         3900 W 62ND PL  2019-02-13T09:19:31.000
179956         3847 W 61ST PL  2019-02-13T18:50:19.000
179957    6400 S MAJOR Avenue  2018-08-01T15:13:33.000

                completion_date  number_of_potholes_filled_on_block  \
0       2024-04-16T15:19:59.000                                   8
1       2024-04-16T15:18:40.000                                  68
2       2024-04-16T15:10:56.000                                   6
3       2024-04-16T15:10:08.000                                   9
4       2024-04-16T15:09:03.000                                  14
...                         ...                                 ...
179953  2019-02-28T07:14:27.000                                   4
179954  2019-02-28T07:13:30.000                                   3
179955  2019-02-28T07:12:22.000                                  10
179956  2019-02-28T07:11:16.000                                  15
179957  2019-01-09T11:36:02.000                                  16

         latitude  longitude                                  location
0       41.968881 -87.693633  POINT (-87.693633000002 41.968881000941)
1       41.929110 -87.658429  POINT (-87.658429500002 41.929110000941)
2       41.987484 -87.695915  POINT (-87.695914500002 41.987484000941)
3       41.988834 -87.695442  POINT (-87.695442000002 41.988834000941)
4       41.985981 -87.698322  POINT (-87.698322000002 41.985981000941)
...           ...        ...                                       ...
179953  41.782065 -87.720834              POINT (-87.720834 41.782065)
179954  41.782588 -87.720808              POINT (-87.720808 41.782588)
179955  41.779863 -87.720513              POINT (-87.720513 41.779863)
179956  41.781169 -87.719803              POINT (-87.719803 41.781169)
179957  41.776112 -87.764137  POINT (-87.764136509305 41.776112376302)

[179958 rows x 7 columns]

In [14]:
pothole.shape

(560478, 19)

In [15]:
pothole.head()

,creation_date,status,completion_date,service_request_number,type_of_service_request,current_activity,most_recent_action,number_of_potholes_filled_on_block,street_address,zip,x_coordinate,y_coordinate,ward,police_district,community_area,ssa,latitude,longitude,location
0,2018-12-18T00:00:00.000,Open,NaN,18-03387505,Pothole in Street,NaN,NaN,NaN,1145 S FAIRFIELD AVE,60612.0,1.158186e+06,1.894949e+06,28.0,11.0,29.0,NaN,41.866992,-87.694609,"(41.866991991336, -87.694608638672)"
1,2018-12-18T00:00:00.000,Open,NaN,18-03387458,Pothole in Street,NaN,NaN,NaN,908 S CAMPBELL AVE,60612.0,1.159861e+06,1.895934e+06,28.0,11.0,28.0,NaN,41.869927,-87.688710,"(41.869927464401, -87.688710188657)"
2,2018-12-18T00:00:00.000,Open,NaN,18-03387502,Pothole in Street,NaN,NaN,NaN,2421 W 21ST PL,60608.0,1.160590e+06,1.889668e+06,28.0,10.0,31.0,NaN,41.852826,-87.686536,"(41.852826019085, -87.686535678313)"
3,2018-12-18T00:00:00.000,Open - Dup,NaN,18-03388379,Pothole in Street,NaN,NaN,NaN,1959 S TROY ST,60623.0,1.155670e+06,1.890142e+06,24.0,10.0,29.0,NaN,41.853704,-87.703946,"(41.853703821634, -87.703946492923)"
4,2018-12-18T00:00:00.000,Open,NaN,18-03388180,Pothole in Street,NaN,NaN,NaN,4100 S WESTERN BLVD,60609.0,1.161202e+06,1.877426e+06,12.0,9.0,58.0,NaN,41.819247,-87.684305,"(41.819246696086, -87.68430532228)"

In [16]:
pothole.tail()

,creation_date,status,completion_date,service_request_number,type_of_service_request,current_activity,most_recent_action,number_of_potholes_filled_on_block,street_address,zip,x_coordinate,y_coordinate,ward,police_district,community_area,ssa,latitude,longitude,location
560473,2010-03-11T00:00:00.000,Completed,2011-03-28T00:00:00.000,10-00317212,Pot Hole in Street,Dispatch Crew,Pothole Patched,5.0,7201 W BELMONT AVE,60634.0,NaN,NaN,36.0,25.0,17.0,NaN,41.937886,-87.806806,"(41.937885966284, -87.8068055064)"
560474,2010-02-26T00:00:00.000,Completed,2011-10-04T00:00:00.000,10-00254019,Pot Hole in Street,NaN,NaN,NaN,1440 S ROCKWELL ST,60608.0,1.159269e+06,1.892879e+06,28.0,10.0,29.0,NaN,41.861757,-87.690973,"(41.861756644625, -87.690972506101)"
560475,2009-08-27T00:00:00.000,Completed,2011-01-25T00:00:00.000,09-01501980,Pot Hole in Street,Site Survey,No Problem Found,80.0,5518 N WAYNE AVE,60640.0,NaN,NaN,48.0,20.0,77.0,NaN,41.982340,-87.663869,"(41.98234020574, -87.663868977471)"
560476,2009-06-17T00:00:00.000,Completed,2011-06-07T00:00:00.000,09-01026546,Pot Hole in Street,Dispatch Crew,Pothole Patched,NaN,3845 W ADDISON ST,60618.0,1.150061e+06,1.923655e+06,30.0,17.0,21.0,NaN,41.946303,-87.724348,"(41.946303283819, -87.724347984027)"
560477,2009-01-12T00:00:00.000,Completed,2011-10-06T00:00:00.000,09-00061329,Pot Hole in Street,Dispatch Crew,Pothole Patched,33.0,2519 S HALSTED ST,60608.0,1.171397e+06,1.887376e+06,11.0,9.0,60.0,NaN,41.846460,-87.646321,"(41.846459969324, -87.646320667697)"

In [17]:
pothole.columns

Index(['creation_date', 'status', 'completion_date', 'service_request_number',
       'type_of_service_request', 'current_activity', 'most_recent_action',
       'number_of_potholes_filled_on_block', 'street_address', 'zip',
       'x_coordinate', 'y_coordinate', 'ward', 'police_district',
       'community_area', 'ssa', 'latitude', 'longitude', 'location'],
      dtype='object')

In [18]:
pothole.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 560478 entries, 0 to 560477
Data columns (total 19 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   creation_date                       560478 non-null  object
 1   status                              560478 non-null  object
 2   completion_date                     553130 non-null  object
 3   service_request_number              560478 non-null  object
 4   type_of_service_request             560478 non-null  object
 5   current_activity                    393609 non-null  object
 6   most_recent_action                  391992 non-null  object
 7   number_of_potholes_filled_on_block  399143 non-null  float64
 8   street_address                      560476 non-null  object
 9   zip                                 558160 non-null  float64
 10  x_coordinate                        560004 non-null  float64
 11  y_coordinate                        560004 non-null  float64
 12  ward                                560145 non-null  float64
 13  police_district                     560144 non-null  float64
 14  community_area                      560145 non-null  float64
 15  ssa                                 87611 non-null   float64
 16  latitude                            559602 non-null  float64
 17  longitude                           559602 non-null  float64
 18  location                            559602 non-null  object
dtypes: float64(10), object(9)
memory usage: 81.2+ MB

In [19]:
print(pothole)

                  creation_date      status          completion_date  \
0       2018-12-18T00:00:00.000        Open                      NaN
1       2018-12-18T00:00:00.000        Open                      NaN
2       2018-12-18T00:00:00.000        Open                      NaN
3       2018-12-18T00:00:00.000  Open - Dup                      NaN
4       2018-12-18T00:00:00.000        Open                      NaN
...                         ...         ...                      ...
560473  2010-03-11T00:00:00.000   Completed  2011-03-28T00:00:00.000
560474  2010-02-26T00:00:00.000   Completed  2011-10-04T00:00:00.000
560475  2009-08-27T00:00:00.000   Completed  2011-01-25T00:00:00.000
560476  2009-06-17T00:00:00.000   Completed  2011-06-07T00:00:00.000
560477  2009-01-12T00:00:00.000   Completed  2011-10-06T00:00:00.000

       service_request_number type_of_service_request current_activity  \
0                 18-03387505       Pothole in Street              NaN
1                 18-03387458       Pothole in Street              NaN
2                 18-03387502       Pothole in Street              NaN
3                 18-03388379       Pothole in Street              NaN
4                 18-03388180       Pothole in Street              NaN
...                       ...                     ...              ...
560473            10-00317212      Pot Hole in Street    Dispatch Crew
560474            10-00254019      Pot Hole in Street              NaN
560475            09-01501980      Pot Hole in Street      Site Survey
560476            09-01026546      Pot Hole in Street    Dispatch Crew
560477            09-00061329      Pot Hole in Street    Dispatch Crew

       most_recent_action  number_of_potholes_filled_on_block  \
0                     NaN                                 NaN
1                     NaN                                 NaN
2                     NaN                                 NaN
3                     NaN                                 NaN
4                     NaN                                 NaN
...                   ...                                 ...
560473    Pothole Patched                                 5.0
560474                NaN                                 NaN
560475   No Problem Found                                80.0
560476    Pothole Patched                                 NaN
560477    Pothole Patched                                33.0

              street_address      zip  x_coordinate  y_coordinate  ward  \
0       1145 S FAIRFIELD AVE  60612.0  1.158186e+06  1.894949e+06  28.0
1         908 S CAMPBELL AVE  60612.0  1.159861e+06  1.895934e+06  28.0
2             2421 W 21ST PL  60608.0  1.160590e+06  1.889668e+06  28.0
3             1959 S TROY ST  60623.0  1.155670e+06  1.890142e+06  24.0
4        4100 S WESTERN BLVD  60609.0  1.161202e+06  1.877426e+06  12.0
...                      ...      ...           ...           ...   ...
560473    7201 W BELMONT AVE  60634.0           NaN           NaN  36.0
560474    1440 S ROCKWELL ST  60608.0  1.159269e+06  1.892879e+06  28.0
560475      5518 N WAYNE AVE  60640.0           NaN           NaN  48.0
560476     3845 W ADDISON ST  60618.0  1.150061e+06  1.923655e+06  30.0
560477     2519 S HALSTED ST  60608.0  1.171397e+06  1.887376e+06  11.0

        police_district  community_area  ssa   latitude  longitude  \
0                  11.0            29.0  NaN  41.866992 -87.694609
1                  11.0            28.0  NaN  41.869927 -87.688710
2                  10.0            31.0  NaN  41.852826 -87.686536
3                  10.0            29.0  NaN  41.853704 -87.703946
4                   9.0            58.0  NaN  41.819247 -87.684305
...                 ...             ...  ...        ...        ...
560473             25.0            17.0  NaN  41.937886 -87.806806
560474             10.0            29.0  NaN  41.861757 -87.690973
560475             20.0            77.0  NaN  41.982340 -87.663869
560476             17.0            21.0  NaN  41.946303 -87.724348
560477              9.0            60.0  NaN  41.846460 -87.646321

                                   location
0       (41.866991991336, -87.694608638672)
1       (41.869927464401, -87.688710188657)
2       (41.852826019085, -87.686535678313)
3       (41.853703821634, -87.703946492923)
4        (41.819246696086, -87.68430532228)
...                                     ...
560473    (41.937885966284, -87.8068055064)
560474  (41.861756644625, -87.690972506101)
560475   (41.98234020574, -87.663868977471)
560476  (41.946303283819, -87.724347984027)
560477  (41.846459969324, -87.646320667697)

[560478 rows x 19 columns]

In [20]:
#Are there certain neighborhoods or points in time that occur more often?

In [21]:
pothole.columns

Index(['creation_date', 'status', 'completion_date', 'service_request_number',
       'type_of_service_request', 'current_activity', 'most_recent_action',
       'number_of_potholes_filled_on_block', 'street_address', 'zip',
       'x_coordinate', 'y_coordinate', 'ward', 'police_district',
       'community_area', 'ssa', 'latitude', 'longitude', 'location'],
      dtype='object')

In [22]:
patched.columns

Index(['address', 'request_date', 'completion_date',
       'number_of_potholes_filled_on_block', 'latitude', 'longitude',
       'location'],
      dtype='object')

In [23]:
print(patched.completion_date)

0         2024-04-16T15:19:59.000
1         2024-04-16T15:18:40.000
2         2024-04-16T15:10:56.000
3         2024-04-16T15:10:08.000
4         2024-04-16T15:09:03.000
                   ...
179953    2019-02-28T07:14:27.000
179954    2019-02-28T07:13:30.000
179955    2019-02-28T07:12:22.000
179956    2019-02-28T07:11:16.000
179957    2019-01-09T11:36:02.000
Name: completion_date, Length: 179958, dtype: object

In [24]:
pothole['creation_date'] = pd.to_datetime(pothole['creation_date'])

In [25]:
pothole['completion_date'] = pd.to_datetime(pothole['completion_date'])

In [27]:
pothole['ph_month'] = pothole['creation_date'].dt.month
pothole['ph_weekday'] = pothole['creation_date'].dt.weekday
pothole['ph_day'] = pothole['creation_date'].dt.day
pothole['ph_year'] = pothole['creation_date'].dt.year

In [29]:
pd.date_range('2019-01-09', '2024-04-15', freq = 'D')

DatetimeIndex(['2019-01-09', '2019-01-10', '2019-01-11', '2019-01-12',
               '2019-01-13', '2019-01-14', '2019-01-15', '2019-01-16',
               '2019-01-17', '2019-01-18',
               ...
               '2024-04-06', '2024-04-07', '2024-04-08', '2024-04-09',
               '2024-04-10', '2024-04-11', '2024-04-12', '2024-04-13',
               '2024-04-14', '2024-04-15'],
              dtype='datetime64[ns]', length=1924, freq='D')

In [34]:
pd.date_range('2019-01-09', '2024-04-15', freq = 'M')

DatetimeIndex(['2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30',
               '2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31',
               '2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31',
               '2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31',
               '2020-09-30', '2020-10-31', '2020-11-30', '2020-12-31',
               '2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30',
               '2021-05-31', '2021-06-30', '2021-07-31', '2021-08-31',
               '2021-09-30', '2021-10-31', '2021-11-30', '2021-12-31',
               '2022-01-31', '2022-02-28', '2022-03-31', '2022-04-30',
               '2022-05-31', '2022-06-30', '2022-07-31', '2022-08-31',
               '2022-09-30', '2022-10-31', '2022-11-30', '2022-12-31',
               '2023-01-31', '2023-02-28', '2023-03-31', '2023-04-30',
               '2023-05-31', '2023-06-30', '2023-07-31', '2023-08-31',
               '2023-09-30', '2023-10-31', '2023-11-30', '2023-12-31',
               '2024-01-31', '2024-02-29', '2024-03-31'],
              dtype='datetime64[ns]', freq='M')

In [33]:
pd.date_range('2019-01-09', '2024-04-15', freq = 'Y')

DatetimeIndex(['2019-12-31', '2020-12-31', '2021-12-31', '2022-12-31',
               '2023-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [32]:
pothole[pothole['completion_date'] < '2019-12-31'].head(2)

,creation_date,status,completion_date,service_request_number,type_of_service_request,current_activity,most_recent_action,number_of_potholes_filled_on_block,street_address,zip,...,community_area,ssa,latitude,longitude,location,ph_month,ph_weekday,ph_day,ph_year,count
28,2018-12-17,Completed - Dup,2018-12-31,18-03378790,Pothole in Street,NaN,NaN,NaN,415 S FINANCIAL PL,60605.0,...,32.0,NaN,41.876480,-87.632956,"(41.876479996476, -87.63295634334)",12,0,17,2018,1
42,2018-12-17,Completed,2018-12-18,18-03378095,Pothole in Street,Final Outcome,Pothole Patched,7.0,600 W LAKE ST,60661.0,...,28.0,NaN,41.885815,-87.642847,"(41.885814724037, -87.6428471339)",12,0,17,2018,1

In [31]:
pothole['count'] = 1

In [35]:
pothole.groupby(['ph_year', 'ph_month'])['count'].sum()

ph_year  ph_month
2009     1              1
         6              1
         8              1
2010     2              1
         3              7
                     ...
2018     8           3719
         9           3123
         10          3156
         11          2358
         12          1802
Name: count, Length: 110, dtype: int64

BELOW SHOWS DISCREPENCY IN DATA ENTRIES

In [36]:
pothole.groupby(['ph_year', 'ph_month'])['count'].sum().reset_index()

     ph_year  ph_month  count
0       2009         1      1
1       2009         6      1
2       2009         8      1
3       2010         2      1
4       2010         3      7
..       ...       ...    ...
105     2018         8   3719
106     2018         9   3123
107     2018        10   3156
108     2018        11   2358
109     2018        12   1802

[110 rows x 3 columns]

In [37]:
pothole.columns

Index(['creation_date', 'status', 'completion_date', 'service_request_number',
       'type_of_service_request', 'current_activity', 'most_recent_action',
       'number_of_potholes_filled_on_block', 'street_address', 'zip',
       'x_coordinate', 'y_coordinate', 'ward', 'police_district',
       'community_area', 'ssa', 'latitude', 'longitude', 'location',
       'ph_month', 'ph_weekday', 'ph_day', 'ph_year', 'count'],
      dtype='object')

In [38]:
frequencymaybe = pothole.groupby(['ph_year', 'ph_month', 'ph_day'])['count'].sum()

In [39]:
freq = (frequencymaybe.sort_values(ascending=False))

In [40]:
print(freq)

ph_year  ph_month  ph_day
2014     3         10        1997
         1         13        1873
         2         24        1680
                   26        1636
         3         11        1581
                             ...
2010     8         18           1
                   17           1
                   14           1
                   10           1
2009     1         12           1
Name: count, Length: 3032, dtype: int64

In [41]:
#Are there certain neighborhoods or points in time that occur more often?
  #THE MONTH WITH THE MOST REPORTS IS MARCH - only 3 years from 2011-2018 had March not being the most reported
  #FURTHERMORE, THE MONTHS WITH THE HIGHEST REPORTS PER DAY ARE IN THE WINTER

In [42]:
# How long does it take for a pothole to get patched?
  #31.4 days

In [43]:
pothole['request_complete'] = pothole['completion_date'] - pothole['creation_date']

In [44]:
pothole['request_complete'] = pothole['request_complete'].dt.days

In [45]:
pothole.columns

Index(['creation_date', 'status', 'completion_date', 'service_request_number',
       'type_of_service_request', 'current_activity', 'most_recent_action',
       'number_of_potholes_filled_on_block', 'street_address', 'zip',
       'x_coordinate', 'y_coordinate', 'ward', 'police_district',
       'community_area', 'ssa', 'latitude', 'longitude', 'location',
       'ph_month', 'ph_weekday', 'ph_day', 'ph_year', 'count',
       'request_complete'],
      dtype='object')

In [46]:
print(pothole.request_complete)

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
          ...
560473    382.0
560474    585.0
560475    516.0
560476    720.0
560477    997.0
Name: request_complete, Length: 560478, dtype: float64

In [47]:
lencompreq = pothole['request_complete'].mean()

In [48]:
print(lencompreq)

31.39170900150055

In [49]:
medcomreq = pothole['request_complete'].median()

In [50]:
print(medcomreq)

8.0